.buttonWrapper {
  display: flex;
  align-items: center;
  margin-top: -84px;
  margin-right: 10px;
}

.active {
  width: 16px;
  height: 16px;
  border: 1px solid var(--white, #fff);
  border-radius: 16px;
  background-color: transparent;
}

.inactive {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 16px;
  background-color: var(--white, #fff);
}

@media screen and (width <= 768px) {
  .buttonWrapper {
    margin-top: -46px;
  }

  .active {
    width: 10px;
    height: 10px;
  }

  .inactive {
    width: 6px;
    height: 6px;
  }
}
