@import url('modern-normalize');
@import url('./preflight.css');
@import url('./variables.css');

html,
body {
  width: 100vw;
  margin: auto;
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-ds-sans);
}

.wrapper {
  display: grid;
  grid-template-areas:
    '. header .'
    '. body .'
    '. footer .';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto minmax(320px, 1248px) auto;
  min-height: 100vh;
  padding: 30px 20px 50px;
}

.rc-pagination {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.rc-pagination ul,
.rc-pagination ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rc-pagination::after {
  content: ' ';
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  visibility: hidden;
}

.rc-pagination-total-text {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  margin-right: 8px;
  line-height: 26px;
}

.rc-pagination-item {
  display: inline-block;
  vertical-align: middle;
  min-width: 40px;
  height: 40px;
  margin-right: 8px;
  border: 1px solid var(--gray);
  border-radius: 4px;
  background-color: var(--white);
  outline: 0;
  list-style: none;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.rc-pagination-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--black);
  transition: none;
}

.rc-pagination-item-active a {
  color: var(--white);
}

.rc-pagination-item a:hover {
  text-decoration: none;
}

.rc-pagination-item:focus,
.rc-pagination-item:hover {
  border-color: var(--black);
  transition: all 0.3s;
}

.rc-pagination-item:focus a,
.rc-pagination-item:hover a {
  color: var(--black);
}

.rc-pagination-item-active {
  border-color: var(--black);
  background: var(--black);
  font-weight: 500;
}

.rc-pagination-item-active:focus,
.rc-pagination-item-active:hover {
  border-color: var(--dark-gray);
}

.rc-pagination-item-active:focus a,
.rc-pagination-item-active:hover a {
  color: var(--white);
}

.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  outline: 0;
}

.rc-pagination-jump-prev button,
.rc-pagination-jump-next button {
  border: none;
  background: transparent;
  color: #666;
  cursor: pointer;
}

.rc-pagination-jump-prev button::after,
.rc-pagination-jump-next button::after {
  content: '•••';
  display: block;
}

.rc-pagination-prev,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  margin-right: 8px;
}

.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  display: inline-block;
  vertical-align: middle;
  min-width: 40px;
  height: 40px;
  border-radius: 4px;
  color: var(--black);
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.rc-pagination-prev,
.rc-pagination-next {
  outline: 0;
}

.rc-pagination-prev button,
.rc-pagination-next button {
  color: rgb(0 0 0 / 85%);
  cursor: pointer;
  user-select: none;
}

.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
  border-color: var(--dark-gray);
}

.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--gray);
  border-radius: 2px;
  background-color: var(--white);
  outline: none;
  font-size: 12px;
  text-align: center;
  transition: all 0.3s;
}

.rc-pagination-disabled .rc-pagination-item-link,
.rc-pagination-disabled:hover .rc-pagination-item-link,
.rc-pagination-disabled:focus .rc-pagination-item-link {
  border-color: #d9d9d9;
  color: rgb(0 0 0 / 25%);
  cursor: not-allowed;
}

.rc-pagination-prev:focus .rc-pagination-item-link,
.rc-pagination-prev:hover .rc-pagination-item-link,
.rc-pagination-next:focus .rc-pagination-item-link,
.rc-pagination-next:hover .rc-pagination-item-link {
  border-color: var(--black);
  color: var(--black);
}

.rc-pagination-prev button::after {
  content: '‹';
  display: block;
}

.rc-pagination-next button::after {
  content: '›';
  display: block;
}

.rc-pagination-disabled,
.rc-pagination-disabled:hover,
.rc-pagination-disabled:focus {
  cursor: not-allowed;
}

.rc-pagination-slash {
  margin: 0 10px 0 5px;
}

.rc-pagination-options {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
}

@media all and (-ms-high-contrast: none) {
  .rc-pagination-options *::-ms-backdrop,
  .rc-pagination-options {
    vertical-align: top;
  }
}

.rc-pagination-options-size-changer.rc-select {
  display: inline-block;
  width: auto;
  margin-right: 8px;
}

.rc-pagination-options-quick-jumper {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
}

.rc-pagination-options-quick-jumper input {
  width: 50px;
  margin: 0 8px;
}

.rc-pagination-simple .rc-pagination-prev,
.rc-pagination-simple .rc-pagination-next {
  vertical-align: top;
  height: 24px;
  line-height: 24px;
}

.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link {
  height: 24px;
  border: 0;
  background-color: transparent;
}

.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link::after,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link::after {
  height: 24px;
  line-height: 24px;
}

.rc-pagination-simple .rc-pagination-simple-pager {
  display: inline-block;
  height: 24px;
  margin-right: 8px;
}

.rc-pagination-simple .rc-pagination-simple-pager input {
  box-sizing: border-box;
  height: 100%;
  margin-right: 8px;
  padding: 0 6px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #fff;
  outline: none;
  text-align: center;
  transition: border-color 0.3s;
}

.rc-pagination-simple .rc-pagination-simple-pager input:hover {
  border-color: var(--black);
}

.rc-pagination.rc-pagination-disabled {
  cursor: not-allowed;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item {
  border-color: var(--gray);
  background: var(--light-gray);
  cursor: not-allowed;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item a {
  border: none;
  background: transparent;
  color: rgb(0 0 0 / 25%);
  cursor: not-allowed;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item-active {
  border-color: transparent;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item-active a {
  color: #fff;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item-link {
  border-color: #d9d9d9;
  background: var(--light-gray);
  color: rgb(0 0 0 / 25%);
  cursor: not-allowed;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item-link-icon {
  opacity: 0;
}

.rc-pagination.rc-pagination-disabled .rc-pagination-item-ellipsis {
  opacity: 1;
}

@media only screen and (width <= 992px) {
  .rc-pagination-item-after-jump-prev,
  .rc-pagination-item-before-jump-next {
    display: none;
  }
}

@media only screen and (width <= 576px) {
  .rc-pagination-options {
    display: none;
  }
}

@media screen and (width <= 768px) {
  .wrapper {
    padding: 15px;
  }
}
