.navigation {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 59px;
}

.rightSide {
  display: flex;
  gap: 39px;
  align-items: center;
  align-self: center;
}

.divider {
  align-self: center;
  height: 17px;
  border: 1px solid var(--dark-gray);
}
