.logo {
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
}

.logo::first-letter {
  color: var(--accent);
}

@media screen and (width <= 768px) {
  .logo {
    font-size: 25px;
  }
}
