.inputWrapper {
  position: relative;
  width: 396px;
}

.subscribeInput {
  width: 100%;
  padding: 13px 80px 13px 0;
  border: none;
  border-bottom: 1px solid var(--black);
}

.arrowIcon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 25px;
  height: 9px;
  transform: translateY(-50%);
}

.button {
  border: none;
  cursor: pointer;
}

@media screen and (width <= 768px) {
  .inputWrapper {
    width: 100%;
  }

  .arrowIcon {
    width: 15px;
    height: 6px;
  }
}
